nav {
    background-color: blue;
  text-transform: uppercase;
  font-family: 'Cookie', cursive;
}
body{
    font-family: 'Cookie', cursive;
    font-size: x-large
}
.nav-link {
    opacity: 0.7;
}
.nav-link:hover {
    opacity: 1;
    background-color: #eee !important;
}
header {
    /*Sizing of the Element*/
    height: 600px;
    width: 100%;
    /*Set and adjust background*/
    background-image: url("header.jpg");
    background-size: cover;
}
.services{ 
    text-align: center;
}
.services i{ 
    /*Adjust the size and postion of the icon*/
    font-size:30px;
    padding: 25px 20px;
    /*Color changes the color of the icon*/
    color:blue;
    background-color:green;
    /*Resize the container the icon is in*/
    width: 80px;
    height: 80px;
    /*Changes the roundness of the container*/
    border-radius: 50%;
}
.services span{
    width: 200px;
    display: inline-block;
}
.pricing{
    text-align:center;
}
.pricing i{
    font-size: 30px;
    padding:25px 20px;
    background-color:blue;
    width:80px;
    height:80px;
    border-radius:50%;
}

.team img{
    height:200px;
    width:200px;
    border-radius:50%;
    border:solid;
}

.team{
    text-align:center;
}

/*contact*/


.contact {
    
    padding: 50px 0 80px;
    text-align: center;
    font-weight: bold;
   
    
}

.contact p {
    
    padding-bottom: 5px;
    color: #323232;
    font-size: 20px;
    font-weight: bold;
    font-family:  'Arapey', serif;
     z-index:1!important;
}

.contact h2 {
    
    color:#fa0511;
    margin: 70px 0 70px;
    font-size: 40px;
    font-weight:italic;
   font-family:  'Arapey', serif;
    position:center;
    left:40%;
    z-index:1;
}

/*.contact .input-group {*/
    
/*    margin-bottom: 35px;*/
/*}*/

.contact .form-control {
    
    border-radius: 0 !important;
    z-index:1;
}

.contact span {
    
    border-radius: 0 !important;
}

.contact .btn {
    
    border-radius: 0;
    width: 100%;
    font-size: 15px;
    background-color: #fa0511;
    color: #fff;
    z-index:1;
}

.contact .btn:hover {
    
    background-color: #778899 !important;
    color: #fff !important;
}

    
    
