nav {
    background-color: blue;
  text-transform: uppercase;
  font-family: PT Sans Narrow;
}
.nav-link {
    opacity: 0.7;
}
.nav-link:hover {
    opacity: 1;
    background-color: #eee !important;
}
header {
    /*Sizing of the Element*/
    height: 600px;
    width: 100%;
    /*Set and adjust background*/
    background-image: url("header.jpg");
    background-size: cover;
}
.services{ 
    text-align: center;
}
.services i{ 
    /*Adjust the size and postion of the icon*/
    font-size:30px;
    padding: 25px 20px;
    /*Color changes the color of the icon*/
    color:blue;
    background-color:green;
    /*Resize the container the icon is in*/
    width: 80px;
    height: 80px;
    /*Changes the roundness of the container*/
    border-radius: 50%;
}
.services span{
    width: 200px;
    display: inline-block;
}
.pricing{
    text-align:center;
}
.pricing i{
    font-size: 30px;
    padding:25px 20px;
    background-color:blue;
    width:80px;
    height:80px;
    border-radius:50%;
}
.price{
    border: 1px;
    border-style:solid;
    height:250px;
    text-align:center;
}
 
.team img{
    height:200px;
    width:200px;
    border-radius:50%;
    border:solid;
}

.team{
    text-align:center;
}

.contact i{
    padding:25px;
}    

.contact .input-group{
    padding:2px;
}

.contact button{
    width:100%;
    background-color:#1462e0;
}

.contact button:hover{
background-color:#f90202;
}



